.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 2;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

    button {
        font-family: var(--font-face);
          padding: 14px 38px;
          box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
          line-height: 1.25;
          background: var(--primary-color);
          text-decoration: none;
          color: white;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          position: relative;
          border-radius: 3px;
          border: 1px solid var(--secondary-color);
          transition: background-color .6s ease;
          overflow: hidden;
          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            transform-style: flat;
            transform: translate3d(-50%,-50%,0);
            background: rgba(white,.1);
            transition: width .3s ease, height .3s ease;
          }
          &:focus,
          &:hover {
              background: var(--secondary-color);
              color: var(--black-color);
          }
          &:active {
            &:after {
              width: 300px;
              height: 300px;
            }
          }
        }

    @media  screen and (max-width: 600px) {
        .app_navbar-sign{
            display: none;
        }
    }
      



}

.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
    width: 120px;
    @media screen and (min-width: 2000px) {
    width: 180px;
}
    }
}





.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 4rem;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div{
            width: 10px;
            height: 10px;
            background: transparent;
            border-radius: 50%;
            margin-bottom: 5px;


        }
        a {
            color: var(--white-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            font-size: 16px;

            &:hover{
                color: var(--secondary-color);
            }
     
        }

        &:hover{
            div{
                background: var(--secondary-color);
                transition: all 0.3s ease-in-out;
            }
         
            
        }
    }
@media  screen and (max-width: 900px) {
    display: none;
    
}

}

.app__navbar-menu{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);

    svg{
        width: 60%;
        height: 60%;
        color: var(--primary-color);
    }
    div{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        // background: url('../../Assets/Mobile__Background.png');
        background-color: var(--secondary-color);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

        svg{
            width: 45px;
            height: 45px;
            color: var(--primary-color);
            margin: 0.5rem 1rem;
            
        }
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: flex-start;

li{
    margin: 1rem;

    a{
        color: var(--black-color);
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
&:hover{
    color: var(--primary-color);
}
    }


}


}


@media screen and (min-width: 900px) {
    display: none;
    
}


    }
    @media screen and (min-width: 900px) {
        display: none;
        
    }
}