@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


:root {
  --font-base: "Poppins", sans-serif;

  --primary-color: #EA0FC1;
  --secondary-color: #11E6F3;
  --blue-color: #007AF7;
  --black-color: #0f0c29;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #F5F5F5;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;

}